<div class="container">
  <div class="form d-flex justify-content-center align-items-center">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient%>
      <%= f.button :submit, 'submit', :class => 'form-button' %>
    <% end %>
  </div>

</div>
