body {
  height: 100vh;
}
.form {
  color: #666;
  height: 99vh;
}
label {
  text-decoration: none;
  color: #fd8804;
}
input{
  width: 500px;
}
.form-button, .form-button:hover {
  color: #fd8804;
  &:active {
    transform: scaleY(1.1);
  }
}
